[submodule "NicoLiveAlert/Network"]
	path = NicoLiveAlert/Network
	url = https://github.com/chajka/NetworkBits.git
[submodule "NicoLiveAlert/Preference/MASPreferences"]
	path = NicoLiveAlert/Preference/MASPreferences
	url = git://github.com/shpakovski/MASPreferences.git
[submodule "NicoLiveAlert/YCKeychainService"]
	path = NicoLiveAlert/YCKeychainService
	url = https://github.com/chajka/YCKeychainService
